
body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

section{
    margin-bottom: 30px;
}
.banner-section{
    height: 500px;
    background-image: url('images/top-banner.png');
    background-repeat: no-repeat;
}
.orange-highlight{
    color: #FFBD24;
}
.box-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.box-width img{
    width: 100%;
}

.short-intro{
    margin-bottom: 30px;
    text-align: justify;
}

.hire-me{
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-image: linear-gradient(45deg,#FFCC1A,#FA6D59);
    color: white;
}

.biography-section{
    height: 500px;
    background-image: url('images/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.experience-section{
    height: 500px;
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
.experience {
    text-align: center;
}
.box--shadow{
    box-shadow: 10px 10px 30px gray;
    height: 70%;
    border-radius: 8px;
    background-color: #fff;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon,tomato) ;
    border-image-slice:1 ;
}
#intern{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan) ;
    border-image-slice:1 ;
}

footer p {
    text-align: center;
    font-size: 15px;
}